/* About Page Content */

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    width: 95%;
    margin-top: 50px;
}

.text-section {
    flex: 1;
    font-size: 1.2em;
    font-family: 'Consolas', monospace;
    margin-right: 30px;
}

.image-section {
    flex: 0.4;
    text-align: center;
}

.profile-pic {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Contact Info */
.contact-info {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 95%;
    padding: 0 0 0 40px;
}

.contact-info p {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Consolas', monospace; 
}

.contact-info ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 0;
}

.contact-info a {
    text-decoration: none;
}

.contact-info img {
    width: 30px;
    height: 30px;
}


/* Mobile responsive styles */
@media screen and (max-width: 600px) {
    .about-content {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .text-section {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .profile-pic {
        width: 150px;
        height: 200px;
        transform: translateY(-0px);
    }

    .contact-info {
        text-align: center; /* Center align the text */
        margin-top: 30px;
    }

    .contact-info ul {
        justify-content: center; /* Center the icons horizontally */
    }
}
